In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
df_oscar = pd.read_csv('Movies/oscar_database.csv')

In [3]:
# print(df_oscar.tail(5))
movie = df_oscar.Name[999]
# print(df_oscar.iloc[500:520])
print(movie)

The Mark of Zorro

In [4]:
films = set(df_oscar.Film)
len(films)

6364

In [32]:
dfnew = pd.DataFrame()

i = 0;

while i < 20: # print up to 20 films only
    i = i+1
    for film in films:
        print(film)
        if not isinstance(film, str):
            continue
        url_base = 'http://www.omdbapi.com/?i=tt3896198&apikey=5db77b44&'
        url = url_base + 't=' + str(film)
        r = requests.get(url)
        json_data = r.json()
        if json_data['Response']=='False':
            print(json_data['Response'], 'movie not found')
            continue
        else:
            print('Movie found')
            print(json_data['Response'])
            print(json_data.keys())
            for key in json_data.keys():
                dfnew.loc[json_data['imdbID'],key] = json_data[key]
print(dfnew.head(5))

nan
Milton Krasner
False movie not found
Jacqueline West
False movie not found
Charles Brackett, Billy Wilder, Walter Reisch
False movie not found
Maryann DeLeo
False movie not found
Abem Finkel, Harry Chandlee, Howard Koch, John Huston
False movie not found
Robert Mulligan
False movie not found
United States Department of War Special Service Division
False movie not found
Jerry Fielding
Movie found
True
dict_keys(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type', 'DVD', 'BoxOffice', 'Production', 'Website', 'Response'])

ValueError: Must have equal len keys and value when setting with an iterable

In [41]:
dfnew

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Ratings
tt0972389,"Main Title 1M1: Jerry Fielding, Sam Peckinpah,...",2007,N/A,27 Feb 2007,30 min,"Documentary, Short",Nick Redman,N/A,"Camille Fielding, Elizabeth Fielding, Katherin...",A short documentary on Jerry Fielding's life a...,English,USA,N/A,N/A,NaN

In [ ]:
for k in json_data.keys():
    print(k + ':' ,json_data[k])

In [ ]:
# Make API request
# url = 'http://www.omdbapi.com/?apikey=5db77b44&s=Manhattan'

url_base = 'http://www.omdbapi.com/?i=tt3896198&apikey=5db77b44&'
url = url_base + 't=' + movie
r = requests.get(url)
json_data = r.json()
type(json_data)
print(json_data)

In [ ]:
print(movie)
for key,value in json_data.items():
    print(key + ':', value)

In [ ]:
json_data.keys()

In [ ]:
new_df1 = pd.DataFrame.from_dict(json_data)
print(new_df1)

In [54]:
import wikipedia
a = wikipedia.page("annie hall")
print(a)

<WikipediaPage 'Annie Hall'>

In [59]:
a.sections

[]